@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  @apply bg-web-white text-web-dark;
}

@layer components {
  .forminput {
    @apply mt-2 block w-full rounded-lg border-2 border-gray-200 text-base text-web-dark shadow-lg hover:border-gray-400 focus:border-gray-400  focus:ring-1 focus:ring-gray-400;
  }
  .formlabel {
    @apply block text-base font-semibold text-web-dark;
  }
}

.radial-progress {
  --size: 18rem;
  --thickness: 2.2rem;
}

@media (max-width: 768px) {
  .radial-progress {
    --size: 14rem;
    --thickness: 1.6rem;
  }
}
